header {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 30px;
}
footer {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}
main {
  font-family: 'Nanum Brush Script', cursive;
  font-size: 20px;
}